/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}
a {
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* CSS Header */
header {
  border-top: 5px solid #76c38f;
  color: #fff;
  padding: 40px 0;
  background: #666;
}
.header {
  overflow: hidden;
  margin-bottom: 20px;
}
.logo {
  float: left;
}
.logo h2 {
  font-size:28px;
} 
.logo h4 {
  font-size:14px;
}

/* CSS Navigation */
.btn-moblie {
  display: none;
}
nav{
  float: right;
}
.nav-list li {
  float: left;
}
.nav-list a {
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  display: block;
}
.nav-list a:hover {
  background-color: #76c38f;
  border-radius: 6px
}
/* CSS Slider */
.slider {
  overflow: hidden;
  position: relative;
}
.slider-panel {
  width: 90%;
  margin: 0 auto;
}
.col-slider {
  width: 50%;
  float: left
}
.box-feature {
  padding: 30px 80px 0 0;
}
.box-feature h1 {
  font-size: 38px;
  line-height: 36px;
  padding-bottom: 20px;
}
.box-feature p {
  margin-bottom: 12px;
}
.box-feature a {
  color: #fff;
  display: table;
  background: #76c38f;
  padding: 6px 10px;
  border-radius: 6px;
}
.box-feature a:hover {
  background: #56996c;
}
.col-slider img {
  width: 100%;
  max-width: 340px;
  border: 20px solid #6b6b6b;
  border-radius: 50%;
  box-sizing: border-box;
  float: right;
}
.slider-control {
  position: absolute;
  top: 46%;
  width: 100%;
}
.left-control {
  float: left;
  cursor: pointer;
}
.right-control {
  float: right;
  cursor: pointer;
  transform: scale(-1)
}
/* CSS Services */
.work-sevices {
  padding-top: 50px;
  padding-bottom: 30px;
}
.list-sevices ul {
  overflow: hidden;
  margin-bottom: 30px; 
}
.list-sevices li {
  width: 19%;
  margin-right: 8%;
  float: left;
  text-align: center;
}
.list-sevices li:last-child {
  margin-right: 0;
}
.list-sevices h2 {
  text-transform: uppercase;
  padding: 10px 0; 
}
.latest-work {
  overflow: hidden;
}
.latest-work h2 {
  font-size: 26px;
  color: #fff;
  display: table;
  margin: 0 auto;
  padding: 6px 10px;
  border-radius: 5px;
  background: #353535;
}
.line {
  height: 3px;
  background: #353535;
  display: block;
  margin-top: -23px;
  margin-bottom: 50px;
}
.row-work img {
  max-width: 100%;
  max-height: 190px;
  width: 100%;
}
.row-work li{
  width: 32%;
  margin-right: 2%;
  margin-bottom: 20px;
  display: block;
  float: left;
  position: relative;
}
.row-work li:nth-child(3), .row-work li:nth-child(6) {
  margin-right: 0;
}
.row-work a {
  display: block;
}
.img-activ {
  position: absolute;
  display: none;
  filter: grayscale(100%);
}
.img-hover {
  display: table;
  width: 100%;
}

.row-work h3 {
  color: #fff;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  padding: 6px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
/* CSS Footer */
footer {
  color: #fff;
  background: #303030;
  padding: 30px 0;
  overflow: hidden;
}

.col4-footer {
  width: 23.5%;
  margin-right: 2%;
  float: left;
}
.col4-footer:last-child {
  margin-right: 0;
}
.col4-footer h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
.col4-footer h4 {
  font-size: 14px;
  color: #76c38f;
}
.author, .post {
  margin-top: 10px;
}
.read-more-post {
  display: block;
  margin-top: 10px;
  color: #76c38f;
}
.read-more-post:hover {
  color: #56996c;
}
.col4-footer li {
  border-bottom: 1px solid #404040;
}
.col4-footer li a {
  color: #76c38f;
  display: block;
  padding: 7px 5px;
}
.col4-footer li a:hover, .col4-footer button:hover {
  color: #56996c;
}
.tweets {
  margin-bottom: 10px;
}
.tweets span {
  color: #76c38f;
}
.col4-footer input, .col4-footer textarea {
  color: #fff;
  background: #222222;
  width: 100%;
  padding: 6px;
  margin-bottom: 5px;
  border: none;
  box-sizing: border-box;
}
.col4-footer textarea {
  min-height: 64px;
}
.col4-footer button {
  display: table;
  border: none;
  background: #76c38f;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}